!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FlikrClone
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if flash[:alert]
      .container
        .alert.alert-danger{role: "alert"}
          = flash[:alert]
    - if flash[:notice]
      .container
        .alert.alert-success{role: "alert"}
          = flash[:notice]
    = render "layouts/navbar"
    .container
      = yield
